body
{
	padding: 3px;
	background-color: green;
}
div.d
{

	padding: 20px;
	background-color: black;

}
h1.h
{
	padding: 20px;
	background-color: green;
	text-align: center;
	text-shadow: 2px 3px 5px blue;
	color: white;
}
div.v
{
	color: white;
}
h1.a
{
	color: white;
	text-shadow: 4px 5px 3px black;
}
h2.bad
{
	color: yellow;
	text-shadow: 2px 1px 2px red;
}
h2.w
{
	color: yellow;
	text-shadow: 2px 1px 2px red;
}
div.q
{
	color: white;
}
h2.s
{
	color: yellow;
	text-shadow: 2px 2px 1px red;
}
div.t
{
	letter-spacing: 2px;
	color: white;
}
div.ass
{
	color: white;
}
h2.hol
{
	color: yellow;
	text-shadow: 2px 2px 1px red;
}
div.asc
{
	color: white;
}
div.diez
{
	color: white;
}
div.traductor
{
	color: white;
}

